@model IEnumerable<apnetTareasMVC_CRUD.Models.TAREAS>
@{
    ViewBag.Title = "Tareas Por Estado";
}

<h2>Tareas Por Estado</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBSERVACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIORIDAD)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OBSERVACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRIORIDAD)
            </td>

        </tr>
    }

</table>


